$one_hundred_percents_value: 100%;
$text_align_center: center;
$margin_center: 0 auto;
$background_repeat: no-repeat;
$background_img_position: center center;
$font-family: "PT Sans";

* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

header {
	background-image: url("images/top.png");
	background-repeat: $background_repeat;	
	background-position: $background_img_position;
	height: 436px;	
}

body {	
	background-color: #000000;
}

.logo, .header p {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.header_caption_text {
  	font-size: 32px;
  	font-family: $font-family;
  	color: rgb(255, 255, 255);
  	line-height: 0.75;
  	text-align: center;
}

.header_body_text {
  	font-size: 16px;
  	font-family: $font-family;
  	color: rgba(255, 255, 255, 0.502);
  	line-height: 1.375;
  	text-align: center;
}

.wrapper {	
	margin: $margin_center;	
}

img.download_btn {
	padding-top: 20px;
}

img.logo, img.download_btn {
	display: block;
	margin: $margin_center;	
}

.table {	
	display: table;
	width: 960px;	
	margin: $margin_center;	
}

.row {
	display: table-row;	
}

.cell {
	display: table-cell;	
	vertical-align: middle;
	padding-top: 40px;
	padding-bottom: 40px;	
} 

.cell p {
	width: 450px;
}

.cell_header {
  	font-size: 32px;
  	font-family: $font-family;
  	color: rgb(255, 255, 255);
  	line-height: 0.75;   
  	padding-bottom: 35px;  	  	
}

.cell_body {
  	font-size: 16px;
  	font-family: $font-family;
  	color: rgba(255, 255, 255, 0.502);
  	line-height: 1.5;  	
}

.image {
	text-align: center;
	padding-left: 25px;
}

.left_side {
	padding-left: 150px; 
}

.right_side {
	padding-left: 200px;
	padding-top: 250px;
}

.footer {
	background-image: url("images/bottom.png");
	background-repeat: $background_repeat;	
	background-position: $background_img_position;	
	height: 459px;
}

.footer p {
  	font-size: 32px;
  	font-family: $font-family;
  	color: rgb(255, 255, 255);
  	line-height: 1.063;
  	text-align: center;
  	padding-top: 255px;
  	margin: 25px;
}